body {
  margin: 0;
}

ul {
  list-style: none;
  overflow: hidden;
}

li {
  float: left;
  width: 100px;
  height: 40px;
  text-align: center;
}

.scrollspy {
  height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #eef;
}

.active {
  background-color: #eef;
}